name: Build test

on:
  workflow_dispatch:
  pull_request:

permissions:
  contents: read

jobs:
  # Build job
  build:
    name: "Build"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.2.2

      - name: Install Packages
        run: bun install

      - name: Build
        run: bun --bun run build